# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
charset = utf-8

[*.jsf, *.jsp]
indent_size = 2

[*.html]
indent_size = 2

[Makefile]
indent_style = space

[**.gradle]
indent_style = space
indent_size = 4

[**.js]
indent_size = 2

[**.css]
indent_size = 4

[**.java]
indent_size = 4
